.calendar-nav {
	font-size: 30px;
	padding: 20px;

	display: flex;
	align-items: center;
}

.month-title {
	margin-right: 20px;
}

.change-month-btn {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 10px;
	border: 0;
}
