.logout-btn {
	color: #d8000c;
	background-color: transparent;
	font-size: 14px;
	font-style: italic;
	line-height: 1;
	text-align: left;
	border: 0;
	outline: none;
}

.logout-btn:hover {
	cursor: pointer;
}
