.add-new-event-section {
	width: 477px;
	height: 100vh;

	background-color: #ffffff;
	border: 2px solid #f8d57e;
	border-radius: 0px 20px 20px 20px;

	position: absolute;
	top: 0;
	left: 0;
	transition: 0.8s;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 50px 30px;
}

.visible {
	left: 0;
}

.hidden {
	left: -507px;
}

.close-btn-wrapper {
	position: absolute;
	top: 45%;
	left: 447px;
}

.emoji-picker-wrapper {
	margin-bottom: 20px;
}
