.day-schedule {
	height: 100vh;
}

.day-schedule-header-wrapper {
	margin-bottom: 67px;
	height: 100px;
}

.day-events-wrapper {
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: justify;
	height: 550px;
}

.no-events-text {
	font-size: 20px;
	font-style: italic;
	line-height: 1.25;
	text-align: left;
	color: #000000;
	width: 100%;
	text-align: center;
}
