.day-schedule-header {
	display: flex;
	align-items: center;
}

.day-schedule-wrapper {
	margin-right: 130px;
}

.day-schedule-header-heading {
	font-family: ABeeZee;
	font-size: 40px;
	font-style: italic;
	line-height: 1.25;
	text-align: left;
	color: #000000;
}

.day-schedule-header-active-day {
	display: flex;
	align-items: center;
}

.active-day-heading {
	color: #f4b860;
	margin-right: 15px;
}
