.day-schedule-header {
	display: flex;
	align-items: center;
}

.day-schedule-wrapper {
	margin-right: 130px;
}

.day-schedule-header-heading {
	font-family: ABeeZee;
	font-size: 40px;
	font-style: italic;
	line-height: 1.25;
	text-align: left;
	color: #000000;
}

.active-day-heading {
	color: #f4b860;
}

.add-new-task-btn {
	width: 55px;
	height: 55px;
	background-color: #f8d57e;
	border: 0;
	border-radius: 50%;
	color: #ffffff;
	font-size: 30px;
	border: 2px solid;
	border-color: transparent;
}

.add-new-task-btn:hover {
	background-color: #ffffff;
	color: #f8d57e;
	border-color: #f8d57e;
}
