.oval-yellow-btn {
	width: 300px;
	height: 50px;
	background-color: #f8d57e;
	border: 0;
	border-radius: 30px;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

.oval-yellow-btn:hover {
	opacity: 0.9;
	cursor: pointer;
}
