.home-page {
	display: flex;
	justify-content: space-between;
}

.home-page-grey-section {
	width: 477px;
	background-color: #f6f7fb;
	padding: 60px;
	display: flex;
	justify-content: center;
}

.home-page-white-section {
	display: flex;
	justify-content: space-between;
	flex-grow: 3;
	padding: 60px;
}
